<ion-view view-title="Contact Us">
  <ion-content>
    <div class="card">
        <div class="item item-divider">
            Location Information
        </div>
        <div class="item item-text-wrap">
            <p><h2><bold>Our Address</bold></h2>121, Clear Water Bay Road<br>Clear Water Bay, Kowloon<br>HONG KONG</p>
            <i class="icon ion-android-call">: +852 1234 5678</i><br><i class="icon ion-printer">: +852 8765 4321</i><br>
        <i class="icon ion-email">: <a href="confusion@food.net" color="dark blue">confusion@food.net</a></i><br><br><br>
           <div class="button-bar">
                <a class="button icon-left ion-android-call button-positive">Call</a>
                <a class="button icon-left ion-social-skype button-calm">Skype</a>
                <a class="button icon-left ion-email button-balanced">Email</a>
            </div>
        </div>
    </div>
  </ion-content>
</ion-view>